body{
	max-width: 375px;
	/*border-top: 100px;*/
	margin-top: 10px;
	background-color: white;
	/*display: none;*/
	align-items: center;
	justify-content: center;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}

.col-xs-6 {
	background-color: red;


}
.row{
	background-color: red;
}